ul.news-list 
  li.news-list__item
    .news-list__heading 
      .news-list__heading-time 2021.21.21
      .news-list__heading-label news
    .news-list__body 
      a(herf="").news-list__body-link Webデザインニュースサイト「ウェブマガジン」に取材いただきました
  li.news-list__item
    .news-list__heading 
      .news-list__heading-time 2021.21.21
      .news-list__heading-label news
    .news-list__body 
      a(herf="").news-list__body-link Webデザインニュースサイト「ウェブマガジン」に取材いただきました
  li.news-list__item
    .news-list__heading 
      .news-list__heading-time 2021.21.21
      .news-list__heading-label news
    .news-list__body 
      a(herf="").news-list__body-link Webデザインニュースサイト「ウェブマガジン」に取材いただきました