.service__body 
  .service__card 
    .service__card-img-wrapper
        img(src="../img/service.jpg" alt="サービス").service__img
    .service__title Webサイト制作 
    .service__txt 新規サイトはもちろん、サイトリニューアルやランディングページ制作も行っております。
  .service__card 
    .service__card-img-wrapper
        img(src="../img/service.jpg" alt="サービス").service__img
    .service__title Webサイト制作 
    .service__txt 新規サイトはもちろん、サイトリニューアルやランディングページ制作も行っております。
  .service__card 
    .service__card-img-wrapper
        img(src="../img/service.jpg" alt="サービス").service__img
    .service__title Webサイト制作 
    .service__txt 新規サイトはもちろん、サイトリニューアルやランディングページ制作も行っております。


    